body {
    font-family: "Open Sans";
}

/*************************************/
/*          Header / Navbar          */
/*************************************/

.navbar-nav {
    position:absolute;
    right:50px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav li {
    margin-top:auto;
    margin-bottom: auto;
    padding-left:10px;
    padding-right:10px;
}

.navbar {
    padding: 0;
    background-color: rgba(255,255,255, .7);
}

.navbar a {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-item:hover {
    background-color: #f7f7f7;
    opacity: .6;
}

.header-content {
    background-image: url("../images/PHOTO_20190127_185215_gedreht.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    background-position: center 70%;
}

.header-title {
    height:50vh;
    position:absolute;
    bottom:0;
    color:#fff;
}

/*************************************/
/*          Info-box                 */
/*************************************/

.info-box .card {
    height:100%;
}

.card-header {
    background-color: #b20027;
    color:#fff;
}

/*************************************/
/*          Carousel                 */
/*************************************/
.carousel.slide.w-50 {
    margin: 0 auto;
}

/*************************************/
/*          Blog-Posts               */
/*************************************/
.mini-blog-posts {
    scrollbar-color:#666 #201c29;
    padding:3rem;
    margin:0;
    display:flex;
    overflow-x:scroll;
}

.mini-blog-article {
    min-width:300px;
    min-height: 350px;
    box-shadow: -0.5rem 0 1rem #000;
    padding:1.5rem;
    border-radius:16px;
    background-color:#b20027;
    color:#fff;
    display:flex;
    flex-direction: column;
    transition: .2s;
    margin:0;
}

.mini-blog-article:not(:first-child) {
    margin-left:-130px;
}

.mini-blog-article:hover {
    margin-right:140px;
    transform: translateY(-1rem);
}

.blog-overlay {
    position:fixed;
    z-index: 999;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,.5);
    display:none;
}

.blog-detail {
    position: fixed;
    z-index: 1000;
    height:70vh;
    width:50vw;
    background-color:#fff;
    color:#000;
    top:15vh;
    display:none;
    margin-left:25vw;
    margin-right:25vw;
    border-radius: 5px;
}

.show {
    display:block;
}

/*************************************/
/*          Footer                   */
/*************************************/

footer {
    background-color: #000;
    color: #FFF;
}

footer .sub-text-footer, footer h5 {
    text-align: center;
}