
<header>
    <!--<div class="header-content" style="background-image: url({image})">-->
    <div class="header-content header-bg-image">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                {logo -> f:format.raw()}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {menuPrimary -> f:format.raw()}
                <!--<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                </ul>-->
                {language -> f:format.raw()}
            </div>
        </nav>
        <div class="header-title">
            {contentTrailer -> f:format.raw()}
        </div>
    </div>
    <div class="breadcrumb-container">
        {menuBreadcrumb -> f:format.raw()}
    </div>
</header>

<main>
    <div class="container" style="display:flex;">
        <f:if condition="{contentMargin}">
            <f:then>
                <div class="col-md-8 content-main">{contentMain -> f:format.raw()}</div>
                <div class="col-md-4 content-margin">{contentMargin -> f:format.raw()}</div>
            </f:then>
            <f:else>
                <div class="col-md-12 content-main">{contentMain -> f:format.raw()}</div>
            </f:else>
        </f:if>
    </div>
    <div class="sidebars">
        {sidebars -> f:format.raw()}
    </div>

</main>

<footer>
    <div class="sub-text-footer pt-3 pb-3">
        {footerLabel -> f:format.raw()}
    </div>

    <div class="partners">
        {footerPartners -> f:format.raw()}

    </div>
    <div class="secondary-menu">
        {footerSecondaryMenu -> f:format.raw()}

    </div>
</footer>
</body>
</html>