<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-own-blog" >
	<tr>
		<td>
			<f:translate key="tx_ownblog_domain_model_blog.title" />
		</td>
		<td>
		{blog.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ownblog_domain_model_blog.author" />
		</td>
		<td>
		{blog.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ownblog_domain_model_blog.date" />
		</td>
		<td>
		{blog.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ownblog_domain_model_blog.category" />
		</td>
		<td>
		{blog.category}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ownblog_domain_model_blog.blogtext" />
		</td>
		<td>
		{blog.blogtext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ownblog_domain_model_blog.picture" />
		</td>
		<td>
				<f:image src="{blog.picture.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>
</html>
