<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Header">
    <header>
        <!--<div class="header-content" style="background-image: url({image})">-->
        <div class="header-content header-bg-image">
            <f:render partial="Nav/Navbar" arguments="{_all}"></f:render>
            <f:if condition="{data.uid} == 7 || {data.uid} == 8">
                <f:then>
                    <div class="row header-title-blog align-items-center">
                        {contentMain -> f:format.raw()}
                    </div>
                </f:then>
                <f:else>
                    <div class="row header-title align-items-center">
                        <div class="col-4 col-md-4 col-lg-4 logo-align">
                            {logo -> f:format.raw()}
                        </div>
                        <div class="col-12 col-md-12 col-lg-8">
                            {contentTrailer -> f:format.raw()}
                        </div>
                    </div>
                </f:else>
            </f:if>
        </div>
    </header>

</f:section>

<f:section name="Main">
    <f:if condition="{data.title} != 'Blog'">
        <main>
            <div class="col-md-11 content-main">
                {contentMain -> f:format.raw()}
            </div>
        </main>
    </f:if>

</f:section>

<f:section name="Footer">

    <footer>
        <div class="sub-text-footer pt-3 pb-3">
            {footerLabel -> f:format.raw()}
        </div>

        <div class="partners">
        <!--
            {footerPartners -> f:format.raw()}
 -->
        </div>
        <div class="secondary-menu">
        <!--
            {footerSecondaryMenu -> f:format.raw()}
 -->
        </div>
    </footer>

</f:section>



</html>
