<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guitar Hearts Project</title>

    <script src="../vendors/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../vendors/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../js/custom.js" type="text/javascript"></script>
    <script src="../vendors/node_modules/fortawesome/fontawesome-free/js/all.min.js"></script>
    <link href="../vendors/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/node_modules/fortawesome/fontawesome-free/css/all.min.css">
    <link href="../css/style.css" rel="stylesheet">

</head>
<body>

<header>
    <div class="header-content">
        <!--
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>-->

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="../images/f2e0a4ac-3cbf-43e1-bfa0-d9b075e276df.jpg" class="d-inline-block align-top"
                     width="100" alt="" loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Galerie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Spenden</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Satzung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Partner und Freunde</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="header-title">
            <h1>Mit jeder Gitarre ein Lächeln</h1>
        </div>
    </div>

</header>

<main>
    <div class="container">
        <div class="card text-center mt-5 mb-5">
            <div class="card-header">
                <h5 class="card-title text-center mt-3">Wie funktioniert das „Guitar Hearts Project“?</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Anfang März 2015 hat er die Idee, zwei seiner Gitarren für einen wohltätigen Zweck zu verschenken.
                    Seine
                    Spenden-Aktion postet er bei Facebook.
                    Hunderte Menschen, von armen Musikern bis zu Asylbewerbern, aber auch viele Schulen und
                    Musikinitiativen
                    schreiben ihn an.
                    Es melden sich aber nicht nur Leute, die diese Gitarren haben wollen – sondern auch viele, die
                    selbst
                    alte Instrumente, Verstärker und Equipment für Bands verschenken oder sonst irgendwie Lars Nüsses
                    tolle
                    Idee unterstützen möchten.
                    Und so wird aus einer Idee ein Projekt und aus dem Projekt letztendlich ein eingetragener,
                    gemeinnütziger Verein (e.V.).
                </p>
            </div>
        </div>

        <div class="info-box mb-5 mt-5">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="../images/sofajams.jpg" class="card-img-top rounded mx-auto d-block" alt="..."
                                 style="width:50%">

                            <h5 class="card-title text-center mt-3">Wen erreicht das „Guitar Hearts Project“?</h5>
                            <p class="card-text text-center">SViele Anfragen kommen von Asylbewerberheimen,
                                Behinderteneinrichtungen oder
                                Schulbands.
                                Lars Nüsse nimmt mit allen Bewerbern persönlich Kontakt auf und versucht herauszufinden,
                                ob eine
                                Förderung wirklich benötigt wird.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="../images/FB_IMG_1591514892321_geschnitten.jpg"
                                 class="card-img-top rounded mx-auto d-block" alt="..." style="width:50%;">

                            <h5 class="card-title text-center mt-3">Welches Ziel verfolgt „Guitar Hearts Project“?</h5>
                            <p class="card-text text-center">Die Initiative bekommt den Namen „Guitar Hearts Project“
                                und organisiert sich als
                                gemeinnütziger Verein.
                                Der sammelt nun offiziell nicht mehr benötige E-Gitarren und E-Bässe, sowie Amps und
                                Equipment,
                                richtet dieses in Eigenleistung wieder her und spendet die Instrumente an gemeinnützige
                                Organisationen, Schulen, soziale Projekte und bedürftige Privatpersonen.
                                Schon in den ersten Wochen werden fast zwei Dutzend Gitarren, Bässe und sogar ein
                                Verstärker
                                gespendet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1>Blog</h1>
        <div class="mini-blog-posts mb-5">
            <div class="mini-blog-article">
                <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</h5>
            </div>
            <div class="mini-blog-article">
                <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</h5>
            </div>
            <div class="mini-blog-article">
                <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</h5>
            </div>
            <div class="mini-blog-article">
                <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</h5>
            </div>
            <div class="mini-blog-article">
                <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</h5>
            </div>
            <div class="mini-blog-article">
                <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</h5>
            </div>
            <div class="mini-blog-article">
                <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</h5>
            </div>
        </div>

        <div class="blog-detail">
            <div class="blog-detail-closing"><i class="far fa-times-circle"></i></div>
            <h5 class="mb-3">Blog-Titel</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="blog-overlay"></div>

        <div class="card text-center mt-5 mb-5">
            <div class="card-header">
                <h5 class="card-title text-center mt-3">Wie funktioniert das „Guitar Hearts Project“?</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Ein solches Projekt erfordert nicht nur einen großen organisatorischen Aufwand.
                    Die gespendeten Gitarren müssen zum größten Teil optimiert, eingestellt oder oft auch repariert
                    werden, bevor sie weiter gespendet werden können.
                    Das bedeutet natürlich Arbeit, die Beschaffung von Ersatzteilen, Werkzeug, Saiten und so weiter.
                    Bisher wurden alle damit verbundenen Kosten privat gedeckt.
                    Langfristig erhofft man sich eine Finanzierung durch Geldspenden und über Crowdfunding.
                    Auch die langfristige Zusammenarbeit mit Firmen oder Organisationen aus der Musikbranche ist
                    ausdrücklich erwünscht.
                    Wenn Sie ein Instrument spenden möchten und nicht wissen wohin damit, zögern Sie nicht uns zu
                    kontaktieren.
                    Die Vergabe eines Instrumentes wird, mit Spender/in, Empfänger und den Projektgruppenmitgliedern
                    abgestimmt.
                    Es wird festgestellt was zur Wiederherrichtung des Instrumentes benötigt wird und wie die Übergabe
                    erfolgen soll.
                    Die Kosten und Materialien sind dabei spendenfinanziert.</p>
            </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide mb-5 mt-5" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-7">
                            <h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                                et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                                gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="col-md-5">
                            <img class="d-block w-100" src="../images/IMG_20200105_124717.jpg" alt="First slide">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="d-block w-100" src="../images/IMG_20200105_124502.jpg" alt="Second slide">
                        </div>
                        <div class="col-md-7">
                            <h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                                et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                                gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-7">
                            <h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                                et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                                gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="col-md-5">
                            <img class="d-block w-100" src="../images/IMG_20200105_124916.jpg" alt="Third slide">
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="sidebars">
        <div class="sidebar-item">
            <div class="sidebar-title">
                Bewerbung
            </div>
            <div class="sidebar-content">
                Hier Bewerben
            </div>
        </div>

        <div class="sidebar-item">
            <div class="sidebar-title">
                Spenden
            </div>
            <div class="sidebar-content">
                Hier Spenden
            </div>
        </div>
    </div>

</main>

<footer>
    <div class="sub-text-footer pt-3 pb-3">
        <h5>The Guitar Hearts Project e.V.</h5>
        <p>
            guitarheartsproject@outlook.de <br>
            067719344061 <br>
            Langgasse 17, 56348 Bornich, Germany <br>
            <br>
            ©2020 The Guitar Hearts Project e.V.
        </p>
    </div>

    <div class="partners">
        <img src="../images/cordial%20Logo%202.jpg" class="img-thumbnail">
        <img src="../images/KMA_LOGO.jpg" class="img-thumbnail">

    </div>
</footer>
</body>
</html>