<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="default"></f:layout>

<f:section name="footer">
    <footer>
        <div class="sub-text-footer pt-3 pb-3">
            {footerLabel -> f:format.raw()}
        </div>

        <div class="partners">
            {footerPartners -> f:format.raw()}

        </div>
        <div class="secondary-menu">
            {footerSecondaryMenu -> f:format.raw()}

        </div>
    </footer>
</f:section>
