<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"></f:layout>

<f:section name="main">
    <main>
        <!--<div class="container" style="display:flex;">-->
        <f:if condition="{contentMargin}">
            <f:then>
                <div class="col-md-8 content-main">{contentMain -> f:format.raw()}</div>
                <div class="col-md-4 content-margin">{contentMargin -> f:format.raw()}</div>
            </f:then>
            <f:else>
                <div class="col-md-12 content-main">
                    {contentMain -> f:format.raw()}
                </div>
                {contentNavigation -> f:format.raw()}
            </f:else>
        </f:if>
        <!--</div>-->
        <f:render partial="Nav/Sidebars" arguments="{_all}"></f:render>
    </main>
</f:section>
